.cards__info {
    min-width: 22.03vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1281px) {
    .cards__info {
        min-width: 282px;
    }
}