.cards__info {
    min-width: 22.03vw;
    padding-bottom: 0.86vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1281px) {
    .cards__info {
        min-width: 282px;
    }
}

@media screen and (max-width: 320px) {
    .cards__info {
        padding-bottom: 2.81vw;
    }
}