.popup__image {
    max-width: 63.75vw;
    max-height: 43.91vw;
    object-fit: cover;
}

@media screen and (min-width: 1281px) {
    .popup__image {
        max-width: 562px;
        max-height: 816px;
    }
}

@media screen and (max-width: 530px) {
    .popup__image {
        min-width: 80vw;
        max-height: 90vw;
    }
}

@media screen and (max-width: 320px) {
    .popup__image {
        max-width: 240px;
        max-height: 299px;
    }
}