.profile__avatar {
    border-radius: 50%;
}

@media screen and (min-width: 1281px) {
    .profile__avatar {
        min-width: 120px;
    }
}

@media screen and (max-width: 768px) {
    .profile__avatar {
        min-width: 20vw;
    }
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        min-width: 37.5vw;
    }
}