@import url(../vendor/normalize.css);

@import url(../fonts/inter.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-main/profile__info-main.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__edit-image/profile__edit-image.css);
@import url(../blocks/profile/__user-about/profile__user-about.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__add-image/profile__add-image.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__like/cards__like.css);
@import url(../blocks/cards/__like/_active/cards__like_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyring/footer__copyring.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is-opened/popup_is-opened.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__user-input/popup__user-input.css);
@import url(../blocks/popup/__user-input/_input/popup__user-input_input_name.css);
@import url(../blocks/popup/__user-input/_input/popup__user-input_input_user-about.css);

.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1281px) {
    .page {
        max-width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}

