@import url(../vendor/normalize.css);

@import url(../vendor/fonts/inter.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/__content/page__content.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__info-main/profile__info-main.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__edit-image/profile__edit-image.css);
@import url(../blocks/profile/__user-about/profile__user-about.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__add-image/profile__add-image.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__item/cards__item.css);
@import url(../blocks/cards/__image/cards__image.css);
@import url(../blocks/cards/__info/cards__info.css);
@import url(../blocks/cards/__title/cards__title.css);
@import url(../blocks/cards/__like/cards__like.css);
@import url(../blocks/cards/__like/_active/cards__like_active.css);
@import url(../blocks/cards/__delete/cards__delete.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyring/footer__copyring.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is-opened/popup_is-opened.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__user-input/popup__user-input.css);
@import url(../blocks/popup/__image-content/popup__image-content.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);



