.popup__title {
    margin: 0 0 0 2.81vw;
    padding-top: 2.66vw;
    font-size: 1.88vw;
    line-height: 100%;
    min-width: 28.78vw;
}

@media screen and (min-width: 1281px) {
    .popup__title {
        margin: 0 0 0 36px;
        padding-top: 34px;
        font-size: 24px;
        line-height: 100%;
        min-width: 330px;
    }
}

@media screen and (max-width: 1024px) {
    .popup__title {
        font-size: 2.2vw;
    }
}

@media screen and (max-width: 768px) {
    .popup__title {
        margin: 0 auto 0 auto;
        text-align: center;
        padding-top: 3.66vw;
        font-size: 3.88vw;
        line-height: 100%;
        min-width: 45vw;
    }
}

@media screen and (max-width: 530px) {
    .popup__title {
        margin: 0 auto 0 auto;
        text-align: center;
        padding-top: 3.66vw;
        font-size: 4.88vw;
        line-height: 100%;
        min-width: 60vw;
    }
}

@media screen and (max-width: 320px) {
    .popup__title {
        margin: 0 0 0 6.88vw;
        padding-top: 7.81vw;
        font-size: 5.63vw;
        line-height: 100%;
        min-width: 74.38vw;
    }
}